
*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  text-align: left;
}

.container{
  width: 80%;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.column{
  width: 100%;
}

@media (min-width: 1024px){
  .column{
    width: 21rem;
  }
}